@import "../responsive.scss";

.page {
    height: 100vh;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    max-width: 90em;
    margin: auto;

    @include media-desktop() {
        padding: 0em;
        margin: 0em;
    }
}

.root-nav {
    padding: 0.5em;
    display: none;
    flex-direction: row;
    &__user-pane {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
    }
}

