<div class="container">
    <div *ngIf="createResult && createResult.isSuccess">
        
        Kontakt erfolgreich angelegt: {{createResult.id}}
    </div>
    <div *ngIf="createResult && !createResult.isSuccess">
        Fehler beim anlgen des Kontakt:
        <pre>{{createResult.errors | json}}</pre>
    </div>
    <a routerLink="/index">Zurück zur Liste</a>
    <form #createHelferForm="ngForm">
        <h1>Kontakt</h1>
        <div>
            <label for="name">Vorname</label>
            <input type="text" id="vorname" [(ngModel)]="helfer.kontakt.vorname" name="vorname" required />
            <label for="name">Nachname</label>
            <input type="text" id="nachname" [(ngModel)]="helfer.kontakt.nachname" name="nachname" required />
        </div>
        <div>
            <label for="name">PLZ</label>
            <input type="text" id="plz" [(ngModel)]="helfer.kontakt.plz" name="plz" required />
            <label for="name">Strasse</label>
            <input type="text" id="strasse" [(ngModel)]="helfer.kontakt.strasse" name="strasse" />
        </div>
        <div>
            <label for="telefon">Telefon</label>
            <input type="text"  id="telefon" [(ngModel)]="helfer.kontakt.telefon" name="telefon" required />
            <label for="email">Email</label>
            <input type="email"  id="email" [(ngModel)]="helfer.kontakt.email" name="email" required />
        </div>
        
        <h1>Tätigkeiten</h1>
        <div>
            <label for="does_BESORGUNG">Besorgungen?</label>
            <input type="checkbox"  id="does_BESORGUNG" [(ngModel)]="taetigkeiten.BESORGUNG" name="BESORGUNG" />
            <label for="does_TELEFON_KONTAKT">Telefonkontakte?</label>
            <input type="checkbox"  id="does_TELEFON_KONTAKT" [(ngModel)]="taetigkeiten.TELEFON_KONTAKT" name="TELEFON_KONTAKT" />
            <label for="does_GASSI_GEHEN">Gassi gehen?</label>
            <input type="checkbox"  id="does_GASSI_GEHEN" [(ngModel)]="taetigkeiten.GASSI_GEHEN" name="GASSI_GEHEN" />
            <label for="does_ANDERE">andere?</label>
            <input type="checkbox"  id="does_ANDERE"[(ngModel)]="taetigkeiten.ANDERE" name="ANDERE" />
        </div>

        <h1>Sonstiges</h1>
        <div>
            <label for="istRisikoGruppe">Risikogruppe?</label>
            <input type="checkbox"  id="istRisikogruppe" [(ngModel)]="helfer.istRisikogruppe" name="istRisikogruppe" />
            <label for="hatAuto">hat Auto?</label>
            <input type="checkbox" id="hatAuto" [(ngModel)]="helfer.hatAuto" name="hatAuto" />
        </div>
        <h1>Anmerkung</h1>
        <div>
            <textarea name="anmerkung" cols="40" rows="5" id="anmerkung" [(ngModel)]="helfer.anmerkung"></textarea>
        </div>

        <button type="submit" (click)="createHelfer()">Anlegen</button>
    </form>
    <div>
        <pre>{{helfer | json}}</pre>
        <pre>{{taetigkeiten | json}}</pre>
        <pre>{{createResult | json}}</pre>
    </div>
</div>