<div class="main-panel__header">
    <h1>Helfer:innen</h1>
    <button mat-flat-button color="primary" routerLink="/index">Zurück zur Liste</button>
</div>
<mat-form-field>
    <input matInput id="search-input" placeholder="Helfer:innen Name" type="text" [(ngModel)]="searchTerms" (change)="filterChange()" />
</mat-form-field>
<div class="table-container">
    <table mat-table [dataSource]="helfer$ | async" multiTemplateDataRows>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let h">{{h.kontakt.nachname}} {{h.kontakt.vorname}}</td>
        </ng-container>
        <ng-container matColumnDef="einsaetze">
            <th mat-header-cell *matHeaderCellDef>Einsätze</th>
            <td mat-cell *matCellDef="let h">{{h.totalEinsaetze}}</td>
        </ng-container>
        <ng-container matColumnDef="strasse">
            <th mat-header-cell *matHeaderCellDef>Straße</th>
            <td mat-cell *matCellDef="let h">{{h.kontakt.strasse}}</td>
        </ng-container>
        <ng-container matColumnDef="plz">
            <th mat-header-cell *matHeaderCellDef>PLZ</th>
            <td mat-cell *matCellDef="let h">{{h.kontakt.plz}}</td>
        </ng-container>
        <ng-container matColumnDef="anmerkung">
            <th mat-header-cell *matHeaderCellDef>Anmerkungen</th>
            <td mat-cell *matCellDef="let h">
                <span *ngIf="h != selectedHelfer">{{h.anmerkung}}</span>
                <div class="actions" *ngIf="h === selectedHelfer">
                    <button mat-flat-button color="primary" routerLink="['/editHelfer', h.Id ]">Helfer:in Bearbeiten</button>
                    <button *ngIf="h.istAusgelastet" mat-flat-button color="primary" (click)="entlasten(h.Id)">Wieder Verfügbar</button>
                    <button *ngIf="h.istAusgelastet === false" mat-flat-button color="primary" (click)="entlasten(h.Id)">nichtmehr verfügbar</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky : true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="helfer-row"
            [class.selected-row]="selectedHelfer === row"
            [class.inactive-helfer]="row.istAusgelastet === true"
            (click)="selectedHelfer = selectedHelfer === row ? null : row"></tr>
    </table>
</div>