<div class="main-panel__header">
    <h1>Helfer:innen suchen</h1>
    <button mat-stroked-button color="primary" routerLink="/index">&laquo; Zurück zur Liste</button>
</div>
<mat-form-field appearance="fill">
    <input matInput id="search-input" placeholder="Helfer:innen Name" type="text" [(ngModel)]="searchTerms" (ngModelChange)="filterChange.next($event)"/>
</mat-form-field>
<div class="table-container">
    <table mat-table [dataSource]="helfer$ | async" multiTemplateDataRows>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let h">{{h.kontakt.nachname}} {{h.kontakt.vorname}}</td>
        </ng-container>
        <ng-container matColumnDef="einsaetze">
            <th mat-header-cell *matHeaderCellDef>Einsätze</th>
            <td mat-cell *matCellDef="let h">{{h.totalEinsaetze}}</td>
        </ng-container>
        <ng-container matColumnDef="strasse">
            <th mat-header-cell *matHeaderCellDef>Straße</th>
            <td mat-cell *matCellDef="let h">{{h.kontakt.strasse}}</td>
        </ng-container>
        <ng-container matColumnDef="plz">
            <th mat-header-cell *matHeaderCellDef>PLZ</th>
            <td mat-cell *matCellDef="let h">{{h.kontakt.plz}}</td>
        </ng-container>
        <ng-container matColumnDef="aktionen">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let h">
                <div class="actions" *ngIf="h === selectedHelfer">
                    <button mat-flat-button color="primary" [routerLink]="['/helfer_innen', h.id ]">Helfer:in Bearbeiten</button>
                    <button *ngIf="h.istAusgelastet" mat-flat-button color="primary" (click)="entlasten(h.id)">Wieder Verfügbar</button>
                    <button mat-flat-button color="primary" [routerLink]="['/helfer_innen', h.id, 'einsaetze', 'new' ]">Einsatz protokollieren</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky : true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="helfer-row"
            [class.selected-row]="selectedHelfer === row"
            [class.inactive-helfer]="row.istAusgelastet === true"
            (click)="selectedHelfer = selectedHelfer === row ? null : row"></tr>
    </table>
</div>