:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin:3em;
}

.table-container {
  flex-grow: 1;
  overflow: auto;
  min-height: 400px;

  &>table {
    width: 100%;
  }
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.main-panel__header{
  display:flex;
  flex-direction: column;
}

.mat-stroked-button {
  width: 12rem;
  margin: -3rem 0rem 0rem auto;
}

mat-form-field {
  margin:2em 0 0;
}


tr.expanded-helfer-row {
  height: 0;
}

tr.selected-row {
  background-color: whitesmoke;
}

tr.helfer-row:not(.expanded-helfer-row):hover {
  background: whitesmoke;
}



tr.inactive-helfer > .mat-cell {
  color: lightgray;
}

.actions {
  &> button {
    margin:0.001em 0.25em 0;
  }
}