:host {
    margin: 3em;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.edit-helfer-form__group {
    display: flex;
    margin: 1em;
    &> mat-form-field {
        width: 100%;
        margin: 0em 1em 0em 0em;
      }
    &> button {
        margin: 0em 1em 0em 0em;
        align-self: flex-end;
    }
}
.edit-helfer-form__sonstiges {
    display: flex;
    padding: 1em;
    &> mat-checkbox {
        margin: 0.5em 1em 0em 1em;
    }
}

.edit-helfer-form__submit {
    padding: 1em;
    &> mat-checkbox {
        margin: 0.5em 1em 0em 1em;
    }

    &> button {
        margin: 0 1.5em 0 0;
    }
}

