<div class="container">
    <div *ngIf="createResult && createResult.isSuccess">
        Einsatz erfolgreich angelegt: {{createResult.id}}
    </div>
    <div *ngIf="createResult && !createResult.isSuccess">
        Fehler beim anlgen des Einsatzes:
        <pre>{{createResult.errors | json}}</pre>
    </div>
    <form #addEinsatzForm="ngForm">
        <div>
            <label for="hilfesuchender">Name des/der Hilfesuchenden</label>
            <input type="text" id="hilfesuchender" [(ngModel)]="einsatz.hilfesuchender" name="hilfesuchender" required
                #hilfesuchender="ngModel" />

            <div *ngIf="hilfesuchender.invalid && (hilfesuchender.dirty || hilfesuchender.touched)">
                <div *ngIf="hilfesuchender.errors.required">
                    Bitte den Hilfesuchenden eintragen.
                </div>
            </div>

            <label for="taetigkeit">Tätigkeit</label>
            <select [(ngModel)]="einsatz.taetigkeit" required #taetigkeit="ngModel">
                <option *ngFor="let taetigkeit of taetigkeiten" [value] = "taetigkeit.key" [selected]="einsatz.taetigkeit == taetigkeit.key">{{taetigkeit.label}}</option>
            </select>
            <div *ngIf="taetigkeit.invalid && (taetigkeit.dirty || taetigkeit.touched)">
                <div *ngIf="taetigkeit.errors.required">
                    Bitte eine Tätigkeit auswählen!
                </div>
            </div>
            <input type="text" id="vermittlerin" name="hilfesuchender" [value]= "einsatz.vermitteltDurch" disabled />
            <input type="text" id="vermitteltAm" name="vermitteltAm" [value]= "vermitteltAm" disabled />

        </div>
        <div>
            <label for="anmerkungen">Anmerkungen</label>
            <textarea name="anmerkungen" cols="40" rows="5" id="anmerkungen" [(ngModel)]="einsatz.anmerkungen"></textarea>
        </div>
              

        
        <button *ngIf="addEinsatzForm.valid" type="submit" (click)="addEinsatz()" >Einsatz Protokolieren</button>
        <button *ngIf="addEinsatzForm.invalid" type="submit" (click)="addEinsatz()" disabled >Einsatz Protokolieren</button>
        <pre>{{ einsatz | json }}</pre>
        <pre>{{ helferId | json }}</pre>
    </form>
</div>

