@import '../../variables';

:host {
    margin: 3em;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

.add-einsatz-form {
    padding: 1em 0em;
}

.add-einsatz-form__group {
    display: flex;

    &>mat-form-field {
        width: 100%;
        margin: 0em 0.5em;
    }

    &>button {
        margin: 0em 1em 0em 0.5em;
    }
}

.add-einsatz-form__error {
    color: $warn;
}

.add-einsatz-form__success {
    &>mat-icon {
        vertical-align: bottom;
    }
}

.add-einsatz-feedback-panel {
    padding: 2em;
    margin: 1em;
    background: #eeeeee;
    border-radius: 0.5em;
}

#istAusgelastet {
    margin: 0 0 1em 0.5em;
}