:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.table-container {
    flex-grow: 1;
    overflow: auto;

    &>table {
        width: 100%;
    }
}

.add-einsatz-container {
    overflow: hidden;
    display: flex;
  }
  tr.expanded-helfer-row {
    height: 0;
  }
  tr.helfer-row:not(.expanded-helfer-row):hover {
    background: whitesmoke;
  }