:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex-grow: 1;
  overflow: auto;
  min-height: 400px;
  flex-basis: 200px;

  &>table {
    width: 100%;
  }
}

.toggle-filter-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4em;
  padding-right: 4em;
}

mat-button-toggle {
  flex: 0 0 10.5%;
  margin:0.5em;
  padding: 0 0.5em;
  /* explanation below */

  &>.mat-button-toggle-button {
    border: 1pt solid black;
  }
}

app-addeinsatz {
  width:100%;
}

.add-einsatz-container {
  overflow: hidden;
  display: flex;
}


.helfer-details {
  flex-shrink:0;
  flex-basis:25%;
}

.helfer-details mat-icon {
  font-size:1em;
  line-height:3em;
  text-align:center;
}

.helfer-details-anmerkung {
  margin-top:1em;
}


tr.expanded-helfer-row {
  height: 0;
}

tr.example-expanded-row {
  background-color: whitesmoke;
}

tr.helfer-row:not(.expanded-helfer-row):hover {
  background: whitesmoke;
}

.taetigkeit-filter,
.sonstiges-filter  {
  min-width: 8em;
}

.plz-filter {
  min-width: 5em;
}

.mat-flat-button {
  width: 12rem;
  margin: -3.5rem 0 0 auto;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
}

.active-filters {
  background: #EDE7F6;
  margin: 0 0.5em;
}

mat-panel-title {
  line-height:40px;
  font-weight:bold;
}

mat-expansion-indicator {
  line-height:40px;
}

mat-panel-description {

  &> span {
    line-height:40px;
    text-align:center;
  }
}

mat-expansion-panel-header {
  background: #eeeeee;
}

.mat-expansion-panel h2 {
  margin-top:1em;
}