<table class="helfer-detail__info-block" *ngIf="helfer">
    <tbody>
        <tr class="helfer-detail__info-row">
            <td class="helfer-detail__info-cell">
                <mat-icon>phone</mat-icon> {{helfer.kontakt.telefon}}
            </td>
            <td class="helfer-detail__info-cell">
                <mat-icon>assignment_turned_in</mat-icon> {{taetigkeiten}}
            </td>
        </tr>
        <tr class="helfer-detail__info-row">
            <td class="helfer-detail__info-cell">
                <mat-icon>email</mat-icon> {{helfer.kontakt.email}}
            </td>
            <td class="helfer-detail__info-cell">
                <mat-icon>label</mat-icon> {{labels}}
            </td>
        </tr>
        <tr>
            <td class="helfer-detail__info-notes" colspan="2">
                {{helfer.anmerkung}}
            </td>
        </tr>
    </tbody>
</table>
<table class="helfer-detail__einsaetze-table" *ngIf="helfer">
    <thead>
        <tr>
            <th>Einsätze</th>
            <th>MA</th>
            <th>Hilfesuchende/r</th>
            <th>Tätigkeit</th>
            <th>Anmerkungen</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let einsatz of helfer.einsaetze">
            <td>
                {{einsatz.vermitteltAm | date}}
            </td>
            <td>
                {{einsatz.vermitteltDurch}}
            </td>
            <td>
                {{einsatz.hilfesuchender}}
            </td>
            <td>
                {{formatTaetigkeit(einsatz.taetigkeit)}}
            </td>
            <td>
                {{einsatz.anmerkungen}}
            </td>
            <td>
                <button mat-icon-button [routerLink]="['/helfer_innen', helfer.id, 'einsaetze', einsatz.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="removeEinsatz(einsatz.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="helfer-detail__button-pane" *ngIf="helfer">
    <a mat-flat-button color="primary" [routerLink]="['/helfer_innen', helfer.id, 'einsaetze', 'new' ]" type="reset">Einsatz
        protokollieren</a>
    <a mat-stroked-button [routerLink]="['/helfer_innen', helfer.id ]" type="reset">Helfer:in bearbeiten</a>
</div>